.popup__submit-button {
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  margin: 0 36px 36px;
  text-align: center;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .popup__submit-button {
    width: 238px;
    height: 46px;
    margin-right: auto;
    margin-left: 22px;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
  }
}
