.elements__like-button {
  position: absolute;
  top: 304px;
  right: 20px;
  bottom: 38px;
  left: 240px;
  width: 22px;
  height: 19px;
  outline: none;
  border: none;
  margin: 0;
  background-color: transparent;
  background-image: url(../../../images/like-disabled.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.elements__like-button:hover {
  opacity: 0.5;
}
