.element__like {
  height: 19px;
  width: 22px;
  background-image: url(../../../images/like.svg);
  border: none;
  outline: none;
  background-color: transparent;
  background-size: auto;
  cursor: pointer;
}
.element__like:hover {
  opacity: 0.5;
}
