.popup__input {
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #000;
  max-width: 358px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input:focus {
  outline-width: 5px;
  outline-color: rgb(103, 148, 233);
}

.popup__input + .popup__input_error-text_active {
  margin-top: -25px;
}

.popup__input + .popup__input_error-text_active:last-of-type {
  margin-top: 5px;
}
